html{
    background-color: rgb(251, 223, 237);
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

nav{
    background-color: #F8C8DC;
    padding: 10px 40px 10px 70px;
    
    display : flex;
    justify-content: center;
    align-items: center; /*meme largeur en haut et en bas*/
    flex-wrap: wrap;
     

}

h1 a{
    text-decoration: none;
    color: white;

}

ul.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 15px;
}

ul.nav-item a:hover{
    color: rgb(244, 172, 197);
    background-color: rgb(255, 230, 241);
}
nav form {
    height: 30px;
    width: 240px;
    display: flex;
    align-items: center;

    input{
        height: 100%;
        width: 200px;
        border: none;
        padding: 0 10px;
        border-radius: 5px 0 0 5px;

    }
}

ul.nav-item{
    list-style: none;
    padding: 0 25px;
    display:inline-flex; /*les met en ligne*/
    
}

h1 {
    flex: 1;
    font-size: 25px;
    font-weight: 700;

}
form button {
    height: 100%;
    width: 40px;
    line-height: 40px;

    background-color: rgb(250, 153, 169);
    /*courber le bord que sur le côté droit*/
    border-radius: 0 5px 5px 0;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;

}

form button:hover{
    background-color: rgb(244, 142, 159);
}

/*MENU BURGER*/
.nav_toggle{
    display: none;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    /*passe les élements au-dessus des autres*/
    z-index: 10;
}
.nav_burger{
    display: block;
}
.nav_close {
    display: none;
}
.nav_toggle.active .nav_burger{
    display: none;
}

.nav_toggle.active .nav_close{
    display: block;
}

/*FOOTER*/
footer{
    text-align: center;
    padding: 20px;
    background-color: #F8C8DC;
    color: white; 
    width : 100%;

    position: absolute;
    bottom: 0;
   
}
.socialIcons a {
    color: white;
    margin: 0 10px; 
    text-decoration: none;
    font-size: 24px;

    :hover{
        color: black;

    }
}




/*sur plus petits écrans */
@media screen and (max-width: 1052px) {
    nav {
        flex-direction: column;
    }

    .nav_top {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    h1 {
        margin: 0;
    }

    .nav_toggle {
        display: block;
    }

    nav form {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }

    ul.nav-item {
        display: none;
        flex-direction: column;
        background-color: rgba(248, 200, 220, 0.95);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    ul.nav-item.active {
        display: flex;
    }
  }

 
