html{
    background-color: rgb(251, 223, 237);
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1; /*pousse le footer vers le bas*/
}

nav{
    background-color: #F8C8DC;
    padding: 10px 40px 10px 70px;
    
    display : flex;
    justify-content: center;
    align-items: center; /*meme largeur en haut et en bas*/
    flex-wrap: wrap;

}

h1 a{
    text-decoration: none;
    color: white;

}

ul.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 15px;
}

ul.nav-item a:hover{
    color: rgb(244, 172, 197);
    background-color: rgb(255, 230, 241);
}

/*BARRE DE RECHERCHE DANS LA NAVBAR*/
.form_recherche {
    height: 30px;
    width: 240px;
    display: flex;
    align-items: center;

    input{
        height: 100%;
        width: 200px;
        border: none;
        padding: 0 10px;
        border-radius: 5px 0 0 5px;

    }
    button{
        height: 100%;
        width: 40px;
        line-height: 40px;
        background-color: rgb(250, 153, 169);
        /*courber le bord que sur le côté droit*/
        border-radius: 0 5px 5px 0;
        border:none;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

}

ul.nav-item{
    list-style: none;
    padding: 0 25px;
    display:inline-flex; /*les met en ligne*/
    
}

h1 {
    flex: 1;
    font-size: 25px;
    font-weight: 700;

}
.form_recherche button {
    background-color: rgb(250, 153, 169);
    border-radius: 0 5px 5px 0;
    border:none;
    cursor: pointer;
}

.form_recherche button:hover{
    background-color: rgb(244, 142, 159);
}

/*MENU BURGER*/
.nav_toggle{
    display: none;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    /*passe les élements au-dessus des autres*/
    z-index: 10;
}
.nav_burger{
    display: block;
}
.nav_close {
    display: none;
}
.nav_toggle.active .nav_burger{
    display: none;
}

.nav_toggle.active .nav_close{
    display: block;
}

/*CSS SUR LES PATRONS*/

ul.patterns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        margin: 20px;
    }
}

.patterns{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    
    justify-content: start; 
    align-items: start;
    grid-auto-flow: column;
    

}
.pattern-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;  
    width: 100%;
}

.pattern-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.pattern-image {
    max-width: 300px;
    height: 250px;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
.pattern-delete{
    text-decoration: none;
    margin-top: auto;
    color: black;
}

.pattern-delete:hover{
    color: gray;
}

/*FOOTER*/
footer{
    position: relative;
    width: 100%;
    background-color: #F8C8DC;
    color: white; 
    text-align: center;
    padding: 20px;
    bottom: 0;
}
.socialIcons a {
    color: white;
    margin: 0 10px; 
    text-decoration: none;
    font-size: 24px;
}



/*sur plus petits écrans */
@media screen and (max-width: 1052px) {
    nav {
        flex-direction: column;
    }

    .nav_top {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    h1 {
        margin: 0;
    }

    .nav_toggle {
        display: block;
    }

    nav form {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }

    ul.nav-item {
        display: none;
        flex-direction: column;
        background-color: rgba(248, 200, 220, 0.95);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    ul.nav-item.active {
        display: flex;
    }

    /*affichage patron*/
    ul.patterns {
        padding: 0;
        margin: 0 auto;
    }

    ul.patterns li {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
    }
    .pattern-card{

        flex-direction: column;
        align-items: center; 
        text-align: center; 
        justify-content: center;
    }
}


