html{
    background-color: rgb(251, 223, 237);
}
body {
    margin: 0;
}
nav{
    background-color: #F8C8DC;
    padding: 10px 40px 10px 70px;
    color: white;
    list-style: none;
    
    .navbar {
        display : flex;
        justify-content: center;
        align-items: center; /*meme largeur en haut et en bas*/
        flex-wrap: wrap;
        
    }

}

nav ul li.logo{
    flex: 1;
    font-size: 25px;
    font-weight: 700;

}

nav ul div.nav-item{
    padding: 0 25px;
    display:inline-flex; /*les met en ligne*/
}

nav ul div.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 0 25px;
}

nav ul div.nav-item a:hover{
    color: rgb(244, 142, 159);
}
nav form {
    height: 30px;
    width: 240px;
    display: flex;
    align-items: center;

    input{
        height: 100%;
        width: 200px;
        border: none;
        padding: 0 10px;
        border-radius: 5px 0 0 5px;

    }
}


button {
    height: 100%;
    width: 40px;
    line-height: 40px;

    background-color: rgb(250, 153, 169);
    /*courber le bord que sur le côté droit*/
    border-radius: 0 5px 5px 0;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: rgb(244, 142, 159);
}

@media screen and (max-width: 1052px) {
    nav {
      padding: 10px 40px 10px 0px;
    }
    .logo{
        display: none;
    }
    nav ul div.nav-item {
        flex:4;
    }
  }
footer{
    position: absolute;
    bottom: 0;
    background-color: #F8C8DC;
}